h1{
  color:silver;
  }/* write your CSS here */
  p{
    color:blue;
    font-size: 16px;
    font-family: helvetica;
  }
  ul li{
    background-color: yellow;
  }
h2{
  background-color: orange;
  color:green;
}
ol li{
  background-color:teal;
}
